.idea/
.git*
.dockerignore
.editconfig
.eslintignore
.eslintrc.js
.nvmrc
.travis.yml
docker-compose.yml
Dockerfile
.DS_Store
data/
genAccounts/
bot/run.js
oracles/redis.js
modules/generators.js
node_modules/
npm-debug.log
